body{
  text-align: left;
  background: white;
  font-size: 28px;
  width: 100%;
 }
 header {background: #ffffff;
  padding: 50px 0;}
#logo {
  width: 10%;
   }
.inicio {
  position: relative;
  width: 940px;
  margin: 0 auto;
 }
 nav {position: absolute;
  top: 10px;
right: 0;}
nav li {display: inline;
  margin: 0 0 0 15px;}
nav a {text-transform: uppercase; 
  color:#000000;
font-weigth: bold;
font-size: 22px;
text-decoration: none;}
i:before {content:"\1F4DE";}
.ajuda{ text-align: center;
font-size: 50px; }
h1 {padding: 10px;}

footer {text-align: center; 
  background: red;
  padding: 40px 0;}