body{
  text-align: left;
  background: 0D214F
  font-size: 28px;
  width: 100%;
 }
 header {background: #ffffff;
  padding: 50px 0;}
 .inicio {
  position: relative;
  width: 940px;
  margin: 0 auto;
 }
 nav {position: absolute;
  top: 10px;
right: 0;}
 nav li {display: inline;
  margin: 0 0 0 15px;}
nav a {text-transform: uppercase; 
  color:#000000;
font-weigth: bold;
font-size: 22px;
text-decoration: none;}
 #logo {
  width: 10%;
   }
 #corte {width: 62%;}
 #engasgue {width: 40%;}
 .cuidados { width: 940px;
margin: 0 auto;
padding: 50px 0;
text-align: center; }
.cuidados li{display: inline-block;
  background: #ffffff;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1,5%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid #000000;
border-radius: 10px 10px 10px 10px;}
.cuidados h2{ font-size: 30px;
font-weight: bold; 
text-align: center;}
nav a:hover {color: #C78C19;
text-decoration: underline;}
.cuidados li:hover {border-color: red;}
.cuidados li:hover h2{font-size: 35px;}
}
.cortes {display: inline-block;
text-align: center;
vertical-align: top;
width: 10%;
margin: 0 5,5%;
width: 20%;}
footer {text-align: center; 
  background: #FF4122;
  padding: 40px 0;
}
.copyright {color: #ffffff;
font-size: 13px;
padding: 20px 0 0;}
